main {
    display: flex;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

#list {
    background-color: #00ffff;
    flex: 3;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    transition: all 0.3s ease;
}

#list:hover {
    background-color: #00cccc;
}

#form {
    background-color: #dc143c;
    flex: 2;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
    transition: all 0.3s ease;
    color: #fff;
}

#form:hover {
    background-color: #b22222;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="datetime-local"],
input[type="number"],
textarea,
select {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"]:focus,
input[type="datetime-local"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
    border-color: #000;
    outline: none;
}

button[type="submit"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #444;
}

ul#entries {
    list-style-type: none;
    padding: 0;
}

ul#entries li {
    background-color: #fff;
    color: #000;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

ul#entries li:hover {
    background-color: #f0f0f0;
}